@charset "UTF-8";
h1,h2,h3,p{text-align:center;
		  }
/* body of the page to have width of 960px 
and center*/
body{
	width:960px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	background: #777;
	content: #ebebeb;
	/* content??? and helvetica neue not working*/
	font-family:Arial,helvetica,Helvetica Neue, sans-serif;
	font-size: 18px;
	}

/* format for header*/
header{
	background-color: #ebebeb;
	padding: 10px 20px;
	text-align: center;
	height:100px;
	}


nav{
	background-color:#ebebeb;
		/* padding is area around the content*/
	padding: 5px;
	/* margin is outside of boarder*/
	margin-top: 10px;
	height:100px
}


/* for section part only*/
section {
	background-color: #ebebeb;
	margin-top: 20px;
	margin-bottom:20px;
	padding:10px;
	height:390px;
	width: 495px;
	float: left;
}

	article{
		background-color:#777;
		margin-top:30px;
		margin-bottom: 20px;
		height:270px;
		padding: 20px
		}
	 

/*class to define header within the article*/
		.clear{
			height:70px;
			margin-top: 15px;
			background-color: #ebebeb;
			}

aside{
	background-color: #ebebeb;
	 width: 400px;
	 height: 390px;
	 float:right;
	 margin-top: 20px;
	 margin-bottom:20px;
	 padding: 10px;
	}

footer{
/* that will clear the float to left and right*/
	clear:both;
	background-color:#ebebeb; 
	padding: 20px;
	height: 70px
	}



